# Ignore Files
# ============
*~
.*~
Pipfile
Pipfile.lock
pyproject.toml
# ghostwriter
*.md.backup

# Ignore Folders
# ==============
__pycache__/
.pytest_cache/
qtgrid.egg-info/
build/
dist/

# KDevelop
# ========
.kdev*/
qtgrid.kdev*
*.kate-swp

##########
# Examples
#
# ignore all .a files
#	*.a
#
# but do track lib.a, even though you're ignoring .a files above
#	!lib.a
#
# only ignore the TODO file in the current directory, not subdir/TODO
#	/TODO
#
# ignore all files in any directory named build
#	build/
#
# ignore doc/notes.txt, but not doc/server/arch.txt
#	doc/*.txt
#
# ignore all .pdf files in the doc/ directory and any of its subdirectories
#	doc/**/*.pdf


